name: build and deploy

on:
  push:
    branches: master

env:
  AWS_REGION: us-east-1
  ECR_REPO: devops-microservice
  CLUSTER_NAME: devops-eks-cluster
  ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}.dkr.ecr.us-east-1.amazonaws.com

jobs:
  build:
    name: Build-plan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Setup AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: |
          terraform init

      - name: Terraform Validate
        run: |
          terraform validate

      - name: Terraform Plan Destroy
        run: |
          terraform plan -destroy -out=tfplan
        id: plan

      # Paso 1: Instalar Qlty CLI
      - name: Install Qlty
        uses: qltysh/qlty-action/install@v2.2.0

      # Paso 2: Ejecutar análisis de código
      - name: Run Qlty Check
        run: qlty check


      - name: Upload Terraform Plan
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: tfplan

  deploy:
    needs: build
    name: Deploy-plan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Setup AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: |
          terraform init

      - name: Download Terraform Plan
        uses: actions/download-artifact@v4
        with:
          name: terraform-plan
          path: .

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
